body {
    background-color: #d3d9d0;
}

.forside {
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.filterDiv {
    float: left;
    background-color: #ffffff; 
    border:2px solid #164735;
    color: #164735;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 16px;
    border-radius:12px;
    transition-duration: 0.4s;

.show {
    display: block;
  }

  .forsidegif {
    width: 35vw;
  }