body {
    background-color: #d3d9d0;
}

.forside {
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.btn {
    background-color: #F0F3EC;
    border: 2px solid #0D4215;
    color: #0D4215;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .container {
    margin-top: 20px;
    overflow: hidden;
  }
  
.filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none;
  }
  
.show {
    display: block;
  }
  
.forsidegif {
    width: 35vw;
  }